@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@400;500&display=swap');

:root {
  --primary-color: #0b0b0d;
  --secondary-color: #100153;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 10px;
  font-family: "Montserrat";
  color: white;
}
html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url(/img/textura4.jpg);
}

h1 {
  font-size: 6rem;
  margin-bottom: 2rem;
}

p {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

button {
  border: none;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border-radius: 1rem;
  color: black;
}

figure {
  width: min(30rem, 70%);
  margin-bottom: 7rem;
  border-bottom: 1px solid white;
}
figure img {
  width: 100%;
}

@media (max-width: 1070px) {
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 2rem;
  }
  button {
    font-size: 1.4rem;
  }
}

@media (max-width: 715px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
  button {
    font-size: 1.2rem;
  }
}