@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@400;500&display=swap');

:root {
  --primary-color: #0b0b0d;
  --secondary-color: #100153;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 10px;
  font-family: "Montserrat";
}

body {
  width: 100%;
}

.container {
  width: min(164rem, 90%);
  margin: 0 auto;
}